<!DOCTYPE html>
<html lang="en">

<head>

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>CV for Stig-Johnny Støbakk</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/index.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js" integrity="sha256-mbLkHeR3UG9BrG6xkSznl679LhGecGYbw0fTF5KacNg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>

<body>
  <div id="app-cv" class="container">

    <personopplysninger></personopplysninger>
    <utdannelse></utdannelse>
    <praksis></praksis>
    <datakompetanse></datakompetanse>
    <annenkompetanse></annenkompetanse>

  </div>


  <template id="data-striped">
  </template>


  <script type="text/x-template" id="personopplysninger-template">    
    <div class="personopplysninger row">
      <div class="col-sm-2 heading">
        <h1>
          <span class="c">C</span><span class="v">V</span></h1>
      </div>       
      <div class="col-sm-7 info">
        <div class="text-right info-left">
          <div v-for="item in data" class="items">
            <span>{{item.nameEn}}</span>
          </div>
        </div>
        <div class="img-outer">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/212695/me-400x400.jpeg" alt="" />
        </div>
        <div class="text-left info-right">
          <div v-for="item in data" class="items">
            <span>{{item.valueEn}}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 intro">
        <blockquote>
          <p>Developer and Project Manager in various Web based projects both front-end and back-end. I like keeping up to date with technology and finding solutions than can make my day (and others) more efficient.</p>
        </blockquote>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="utdannelse-template">
    <div class="utdannelse data-striped">
      <h2>Education</h2>
      <div v-for="item in data" class="item row">
        <!--<span class="col-sm-3 mt-2">{{item.dateEn}}</span>-->
        <span class="col-sm-3 mt-2">
          <!-- <span class="dateMonth">{{item.dateFromMonthEn}}</span>
          <span class="dateYear">{{item.dateFromYear}}</span> -->
          <span>{{item.dateEn}}</span>
          <!-- <span class="dateMonth" v-if="item.dateToMonthEn">{{item.dateToMonthEn}}</span>
          <span class="dateYear" v-if="item.dateToYear">{{item.dateToYear}}</span>
          <span>{{item.dateToPresent}}</span> -->
        </span>
        <span class="col-sm-4 mt-2">{{item.schoolEn}}</span>
        <span class="col-sm-5 mt-2" v-html="item.descrEn">{{item.descrEn}}</span>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="praksis-template">
    <div class="praksis data-striped">
      <h2>Experience</h2>
      <div v-for="item in data" class="item row">
        <!--<span class="col-sm-3 mt-2">{{item.dateEn}}</span>-->
        <span class="col-sm-3 mt-2">
          <span>{{item.dateEn}}</span>
        </span>
        <span class="col-sm-4 mt-2">{{item.whereEn}}</span>
        <span class="col-sm-5 mt-2">{{item.descrEn}}</span>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="datakompetanse-template">
    <div class="data-striped">
      <h2>Computer skills and competences <span class="badge badge-pill badge-info fading">= old skills (fading)</span><span class="badge badge-pill badge-info">= present skills</span></h2>
      <div v-for="item in data" class="item row">
        <span class="col-sm-3 mt-2">{{item.nameEn}}</span>
        <span class="col-sm-9 mt-2">
          <span v-for="c in item.comp" class="badge badge-pill badge-info"  v-bind:class="{ fading: c.fading }">{{c.name}}</span>
        </span>
      </div>
    </div>
  </script>
  
  <script type="text/x-template" id="annenkompetanse-template">
    <div class="data-striped">
      <h2>Other skills</h2>
      <div v-for="item in data" class="item row">
        <span class="col-sm-3 mt-2">{{item.nameEn}}</span>
        <span class="col-sm-9 mt-2">
          <span v-for="c in item.comp" class="badge badge-pill badge-info">{{c.nameEn}}</span>
        </span>
      </div>
    </div>
  </script>

  <script src="/js/personopplysninger.js"></script>
  <script src="/js/utdannelse.js"></script>
  <script src="/js/praksis.js"></script>
  <script src="/js/datakompetanse.js"></script>
  <script src="/js/annenkompetanse.js"></script>
  <script src="/js/app.js"></script>

</body>

</html>